<div class="row">
    <div class="col-md-4">
        <h1>Create New Product</h1>
        <div class="form-group">
            <label for="productName" class="control-label"></label>
            <input ng-model="product.productName" placeholder="Product Name" />
        </div>
        <div class="form-group">
            <label for="productName" class="control-label"></label>
            <input ng-model="product.productDescription" placeholder="Product Description" />
        </div>
        <div class="form-group">
            <label for="productName" class="control-label"></label>
            <input ng-model="product.productPrice" type="number" placeholder="Product Price" />
        </div>
        <div class="form-group">
            <label for="productName" class="control-label"></label>
            <input ng-model="product.productCategory" placeholder="Product Category" />
        </div>
        <div class="form-group">
            <label for="productName" class="control-label"></label>
            <input ng-model="product.productQuantity" type="number" placeholder="Product Quantity" />
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-block" ng-click="AddProduct()" />
        </div>
    </div>
</div>